*{
  padding:0;
  margin:0;
}

body{
  min-height:100vh;

  font-family: sans-serif;
  color:rgb(215, 233, 235);

  background-color: rgb(23, 29, 29);

  /*
  display:grid;
  justify-items: center;*/
}
.App{
  display:grid;
  gap:2rem;
}
.title{
  font-size:clamp(2rem + 2vh, 2rem + 5vh, 3rem);
  /*text-align: center;*/
  display:inline-block;
  margin-inline:auto; 
  margin-top:3rem;

}

.input-container{
  display:flex;
  gap:1rem;
  width:min(95%, 500px);
  margin-inline:auto;

}


.task-input{
  background-color: rgb(8, 12, 13);

  color:white;
  font-size:2rem;

  padding:0.5rem;

  border:none;
  border-radius:0.5rem;
  outline:none;
  
}
.task-input:focus{
  outline:solid 3px rgb(40, 109, 110);
  outline-offset: 5px;
}



.btn{
  background-color:rgb(64, 187, 192);
  border:none;
  border-radius: 1rem;
  padding:1rem 1.5rem;
  font-size:2rem;

  cursor:pointer;

  filter: drop-shadow(0 0 0.2em rgb(64, 187, 192))
}

.task{
  border:5px solid rgb(10, 16, 16);
  border-radius:1rem;
  padding:0.5rem 1rem;
  display:flex;
  align-items: center;
  gap:0.5rem;

  position:relative;
}
input[type="checkbox"]{
  width:25px;
  aspect-ratio: 1;
}
.task-info{
  font-size:2rem;
}
.task > div{
  margin-left:auto;
  display:flex;
  gap:0.5rem;
}
.edit-btn, .delete-btn{
  padding: 0.75rem 1.25rem;
}
.delete-btn{
  background-color:rgb(197,81,56);
  filter:drop-shadow(0 0 0.2em rgb(197,81,56) )
}
.task-cover{
  position:absolute;
  inset:0;
  background:rgb(23, 29, 29);
  scale:1.1 1.2;
  border:inherit;
  border-radius: inherit;
}
.task-edit{
  display:flex;
  flex-direction: column;
  padding:0.25rem 1rem;
}
.update{
  color:rgb(40, 109, 110);
  background-color:rgb(23, 29, 29) ;
  padding:0;
  margin:0;
}
.update-text{
  font-size:1rem;
  width:300px;
  outline: none !important;
}
.update-section{
  display:flex;
  gap:1rem;
}
.update-btn{
  padding:0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-size:1rem;
}